*.hcr
*.hi
*.o
.cabal-sandbox
.stack-work
TAGS
cabal-dev
cabal.sandbox.config
dist-newstyle/
dist/
examples/*.js
examples/*.map
fay-prim
src/*.js
tests/*.html
tests/*.js
tests/*/*.js
.stack-work
.ghc*
cabal.project.local