/* Standard elements */
body {
    font-family: sans-serif;
    color: #666;
    margin-bottom: 0;
    padding-bottom: 0;
}
a {
    color: #F40095;
    text-decoration: none
}
a:hover {
    text-decoration: underline;
}
li + li {
    margin-top: 0.5em;
}
/* Page layout */
.wrap {
    margin-left: 1em;
    margin-right: 1em;
}
p,ul { width: 40em; }
/* Header */
h1 {
    font-size: 2em;
    margin-bottom:0;
    padding-bottom:0;
    color: #F40095
}
h2 {
    color: #850095;
    padding-bottom: 0em;
    margin-bottom: 0;
}
h3 {
    color: #948091;
    font-style: italic;
}
.subheadline {
    font-size: 20px;
    margin-bottom: 1em;
    font-style: italic;
}

/* Syntax highlighting */
.example {  }
.example pre { margin-top:0 }
.example pre .diff { color:#555 }
.example pre code .title { color:#333 }
.example pre code .string { color:#366354 }
.example pre code .built_in { color:#397460 }
.example pre code .preprocessor { color:#4F4371 }
.example pre code .comment { color:#555 }
.example pre code .command { color:#397460 }
.example pre code .special { color:#333 }
.example pre code .formula { color:#4F4371 }
.example pre code .keyword { color:#397460 }
.example pre code .number { color:#4F4371 }
.example pre code .header { color:#555 }
.example pre code .addition { background-color:#FDD;color:#695B5B }
.example pre code .deletion { background-color:#DFD;color:#000 }
.example pre { margin:0 }
.example table { border-spacing: 1em; }
.example {}
.example .lang { font-size: small; margin-bottom: 1em; color: #999 }
.example .tab-title { cursor: pointer; }
.example .tab-title-current em { font-weight: bold; color: #555; font-style: normal }
.example .tab-title { display: inline-block; margin-right: 1em; }
.example pre { overflow: auto }
.example { float: left }
.example table { margin-left: -1em; }
.example td {  vertical-align: top; padding: 1em; box-shadow: 0px 0px 20px #ccc; border-radius: 5px; }
.example-heading { margin-bottom: 0; }
.example-clear + .example-heading { margin-top: 0; padding-top: 0 }
.example-clear { clear: both }

.footer {
    margin-top: 5em;
    font-size: 0.9em;
    background: #eee;
    padding: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
p code { background: #eee; padding: 0.1em 0.2em; }